.input-container {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center !important;
   justify-items: center;
   align-items: center;
}

.btn-container {
   margin: 25px;
}

body {
   min-height: 100vh;
}