h1 {
    text-align: center;
    margin: 50px;
}

.return-home {
    text-align: center;
    margin: 25px;
}

.dropdown-margin {
    margin: 25px;
}

table {
    margin-top: 25px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.input-container {
    width: 40%;
    margin: 25px;
    display: flex;
}
 
.btn-container {
    margin: 0 25px;
}